/*
Author: Cassie Lewis
https://clewisdev.com
Date: August 2023
*/

/*====== VARIABLES ======*/

:root {
    
    /*COLORS*/
    --bg: #fff;
    --bg-body: #D1D5DB;
    --border-color: #D1D5DB;
    --text-color: #2B283A;
  
    
    /*BORDER RADIUS*/
    --br-small: 5px;
}


/*====== MARGIN AND PADDING RESET ======*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*====== GLOBAL STYLES ======*/

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: black;
    background-color: var(--bg-body);

    display: flex;
    justify-content: center;
}

button,
header,
main,
.color-schemes-select,
.text {
    background-color: var(--bg);
}

button,
.color-schemes-select {
    font-family: inherit;
    font-size: 1rem;
    color: var(--text-color);
}

button {
    width: 100%;
    padding: .75rem;
    border: 1px solid var(--border-color);
    border-radius: var(--br-small);
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-body);
}

header,
main {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

header {
    padding: 1rem;
    gap: 1rem;
}

select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add custom arrow */
    background-image: url(assets/selector.png);
    background-repeat: no-repeat;
    background-position: 96%;
    padding: .5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}


/*====== MAIN CONTAINER ======*/

.color-scheme-container {
    margin-top: 2rem;
    border: 1px solid var(--border-color);
    border-radius: var(--br-small);
}


/*====== INPUT STYLING =======*/

.input-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.seed-color {
    width: 65px;
    height: 42px;
    padding: .1rem;
    cursor: pointer;
}

/*====== COLORS CONTAINER STYLING ======*/

.color {
    width: 250px;
    height: 75px;
}

.text {
    color: var(--text-color);
    text-align: center;;
    padding: 1rem;
}


/*====== MEDIA QUERIES ======*/


@media (min-width: 650px) {
    header,
    main {
        flex-direction: row;
        justify-content: center;
    }

    select {
        width: 325px;
    }

    .color {
        width: 125px;
        height: 550px;
    }

 
}