/*
Author: Cassie Lewis
https://clewisdev.com
Date: August 2023
*/

/*====== VARIABLES ======*/

:root {
    
    /*COLORS*/
    --bg: #fff;
    --bg-body: #D1D5DB;
    --border-color: gray;
    --text-color: #222222;
    --element-focus: blue;
    --color-focus: #000;
  
    
    /*BORDER RADIUS*/
    --br-small: 5px;
}


/*====== MARGIN AND PADDING RESET ======*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*====== GLOBAL STYLES ======*/

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: black;
    background-color: var(--bg-body);

    display: flex;
    justify-content: center;
}

header,
main,
.color-schemes-select,
.schemes-btn,
.text {
    background-color: var(--bg);
}

button,
select {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    transition: 0.3s ease;
}

button {
    cursor: pointer;
}

button:focus,
select:focus {
    border: 3px solid var(--element-focus);
    border-radius: 5px;
    outline: none       ;
}

button:active {
    transform: scale(0.85);
}

.schemes-btn {
    width: 100%;
    padding: .75rem;
    border: 2px solid var(--border-color);
    border-radius: var(--br-small);
    cursor: pointer;
}

.schemes-btn:hover {
    background-color: var(--bg-body);
}

header,
main {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

header {
    padding: 1rem;
    gap: 1rem;
}

select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add custom arrow */
    background-image: url(assets/selector.png);
    background-repeat: no-repeat;
    background-position: 96%;
    padding: .75rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}


/*====== MAIN CONTAINER ======*/

.color-scheme-container {
    margin-top: 2rem;
    border: 1px solid var(--border-color);
    border-radius: var(--br-small);
}


/*====== INPUT STYLING =======*/

.input-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.seed-color {
    width: 65px;
    height: 42px;
    padding: .1rem;
    cursor: pointer;
}

/*====== COLORS CONTAINER STYLING ======*/

.text-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.color {
    width: 250px;
    height: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.color:focus {
    border: 3px solid var(--color-focus);
    border-radius: 5px;
    outline: none;
}

.copy-btn {
    background-image: url(assets/copy.svg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.color-name,
.text {
    font-size: .75rem;
    background-color: transparent;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    padding: .5rem;
}

.color-name {
    width: 250px;
    height: 50px;
    margin: 0 auto 2rem auto;
    border: 2px solid var(--border-color);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*====== MEDIA QUERIES ======*/


@media (min-width: 768px) {
    header,
    main {
        flex-direction: row;
        justify-content: center;
    }

    select {
        width: 400px;
    }

    .text-container {
        flex-direction: column;
        gap: 0;
    }

    .color-name,
    .text {
        font-size: 1rem;
    }

    .color-name {
        width: 125px;
        height: 65px;
    }    

    .color {
        width: 150px;
        height: 550px;
        margin-bottom: 1rem;
    }

 
}